<div class="group d-flex flex-column">
    <div class="text-uppercase">Events</div>
    <a type="button" class="btn btn-outline-secondary" href="{{ path('app_event_index') }}">See all</a>
    <a type="button" class="btn btn-outline-secondary" href="{{ path('app_event_new') }}">Add new</a>
</div>