{% extends 'chore/base_dashboard.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Create new Role</h1>
            </div>
                {{ include('chore/role/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
