{% extends 'chore/base_dashboard.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Create new User</h1>
            </div>
            {{ include('chore/user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
